h1 {
    text-align: center;
    color: cornflowerblue;
  }
nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: magenta;
    text-decoration: none;
}

body {
  background-color: black;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: black;
}

p {
color:white
}

label {
color: white;
}

img {
  border: 1vw solid cornflowerblue;
  border-radius: 25px ;
}

h2,h3,h4{
  color: white;
}

a{
  color:white
}